Repository weareoutman/no-worries: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Version 0.0.1
  README.md
  package.json
Due: prettier --write

Add docs ofinstall and usage
  README.md
Due: prettier --write

feat: upgrade dependencies
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  renovate.json
  src/resolveLintstagedrc.js
Due: eslint --fix --quiet, prettier --write

0.1.0
  package-lock.json
  package.json
Due: prettier --write

fix: flags changed after upgrade meow
  src/cli.js
Due: eslint --fix --quiet, prettier --write

0.1.1
  package-lock.json
  package.json
Due: prettier --write

fix: remove console log
  src/cli.js
Due: eslint --fix --quiet, prettier --write

0.1.2
  package-lock.json
  package.json
Due: prettier --write

fix: add overrides for eslintrc if flags of jest is enabled
  src/resolveEslintrc.js
Due: eslint --fix --quiet, prettier --write

fix: add coverage configures for jest
  src/resolveJestConfigJs.js
  template/.gitignore
Due: eslint --fix --quiet, prettier --write

fix: prettier generated files
  package.json
  src/getPrettierContent.js
  src/main.js
Due: eslint --fix --quiet, prettier --write

fix: prettier package.json
  src/initDir.js
Due: eslint --fix --quiet, prettier --write

Delete renovate.json
  renovate.json
Due: prettier --write

Add renovate.json
  renovate.json
Due: prettier --write

Update renovate.json
  renovate.json
Due: prettier --write

chore: add certain files to gitignore
  .DS_Store
  .gitignore
  template/.gitignore
Due: none

chore: use standard-version
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: use execa to pass through stdio stream
  package-lock.json
  package.json
  src/main.js
  src/npmInstall.js
  src/promisedSpawn.js
Due: eslint --fix --quiet, prettier --write

chore(release): 0.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: remove unused dependency of ora
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: support to check standard-version
  src/ask.js
  src/flags.js
  src/initDir.js
  src/main.js
  src/resolveLintstagedrc.js
  src/resolvePackageJson.js
Due: eslint --fix --quiet, prettier --write

chore(release): 0.1.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: support yarn and git init
  README.md
  package-lock.json
  package.json
  src/cli.js
  src/gitInit.js
  src/main.js
  src/npmInstall.js
Due: eslint --fix --quiet, prettier --write

chore(release): 0.1.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix options
  src/cli.js
Due: eslint --fix --quiet, prettier --write

chore(release): 0.1.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix eslintrc
  src/resolveEslintrc.js
Due: eslint --fix --quiet, prettier --write

chore(release): 0.1.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency meow to v8
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency execa to v5
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency meow to v9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency node-notifier to 8.0.1 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency y18n to 4.0.1 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency husky to v6
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency fs-extra to v10
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency handlebars to 4.7.7 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
